.board-page {
    padding: 0 20px;
    .mat-card {
        border: 0;
        cursor: pointer;
        float: left;
        margin-right: 20px;
        padding: 0;

        .mat-card-header {
            border-radius: 5.5px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            color: #fff;
            font-weight: bold;
            font-size: 16px;
            padding-top: 12px;
            width: 345px;
            height: 35px;
        
            .mat-form-field {
                display: block;
                width: 100%;
            }

            .mat-form-field-infix {
                width: auto;
            }

            .mat-form-field-wrapper {
                padding-bottom: 0;
            }

            input {
                background: #fff;
                border-radius: 5.5px;
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                padding: 5px 10px;
                height: 45px;
                color: black;
            }
        }
    }

    .board-name {
        .mat-card-header {
            background-color: #9fe7a4;
        }
    }

    .task-list {
        clear: both;
        display: block;
        padding-top: 30px;

        .task-items {
            display: inline-block;
            float: left;
        }
        
        ::ng-deep .mat-card {
            border: 0;
            cursor: pointer;
            float: left;
            margin-right: 20px;
            padding: 0;
        }

        .add-new-btn {
            .mat-card-header {
                background-color: #0a2c74;
            }
        }

        .add-new {
            cursor: initial;
            .mat-card-header {
                background-color: #fff;
                border-radius: 0;
                height: 100px;
                padding: 0 20px;

                ::ng-deep {
                    .mat-card-header-text {
                        display: none;
                    }
                    .mat-form-field-flex {
                        width: 94%;
                    }
                }
                span {
                    font-size: 12px;
                    color: #000;
                }
            }
            .close-icon {
                position: absolute;
                top: -28px;
                right: -11px;
                border: 2px solid #bdeec0;
                border-radius: 16px;
                color: #bdeec0;
                cursor: pointer;
                font-size: 14px;
                font-weight: bold;
                background: #fff;
                width: 23px;
                height: 20px;
                overflow: visible;
                text-align: center;
                padding-top: 3px;
            }
        }

    }
}