.board-list {
    .mat-card-header {
        background-color: #fff;
        border-radius: 0;
        color: black;
        display: block;
        height: auto;
        padding-bottom: 12px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        padding-top: 12px;
        width: 345px;
        
        .mat-form-field {
            display: block;
            border-top: 1px solid #ccc;
            padding: 0 20px;
        }

        .mat-form-field-infix {
            width: auto;
        }

        .mat-card-title {
            color: #000;
        }

        ::ng-deep .mat-form-field-wrapper {
            padding-bottom: 0;
        }

        input {
            background: #fff;
            border-radius: 5.5px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            padding: 5px 10px;
            height: 45px;
            color: black;
            width: 93%;
        }

        .task-section {
            background-color: #9fe7a4;
            border-radius: 5.5px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            color: #000;
            font-weight: bold;
            font-size: 16px;
            margin: 10px 20px;
            padding: 13px 20px;

            ::ng-deep {
                .cdk-visually-hidden {
                    display: none;
                }

                .mat-checkbox-frame {
                    border-color: #fff;
                }

                .mat-checkbox-label {
                    width: 240px;
                }

                .mat-checkbox-background {
                    background-color: transparent;
                }
            }

            &.task-cancelled {
                background-color: #f3ecff;
                
                ::ng-deep .mat-checkbox-label {
                    text-decoration: line-through;
                }
            }
        }
    }
}